:root {
  --primary-100: #C7B299;
  --primary-200: #a9957d;
  --primary-300: #675640;
  --accent-100: #A68B5B;
  --accent-200: #483507;
  --text-100: #4D4D4D;
  --text-200: #797979;
  --bg-100: #F5EFE7;
  --bg-200: #ebe5dd;
  --bg-300: #c2bdb5;
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-100);
  color: var(--text-100);
  overflow: hidden;   
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-container {
  background-color: var(--bg-100);
  color: var(--text-100);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-section {
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2rem;
}

.home-content {
  text-align: center;
}

.home-title {
  color: var(--primary-300);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.home-text {
  color: var(--accent-100);
}

.navbar {
  background-color: var(--bg-200);
  padding: 1rem;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-right: 1rem;
}

.navbar-link {
  color: var(--text-100);
  text-decoration: none;
  font-weight: bold;
}

.navbar-link:hover {
  color: var(--accent-100);
}